.response-message h1,
.response-message h2,
.response-message h3 {
  font-weight: bold;
  margin: 0.5em 0;
}

.response-message ul {
  list-style-type: disc;
  margin-left: 1.5em;
}

.response-message li {
  margin-bottom: 0.3em;
}

.response-message strong {
  font-weight: bold;
}

.response-message p {
  margin: 0.5em 0;
} 